body {
  font-family: sans-serif;
  background-color: #315481;
  /* background-image: linear-gradient(to bottom, #315481, #918e82 100%); */
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  width: 100%;
  margin: 1em auto;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
  .new-task input {
    padding-bottom: 5px;
  }
}
.btn_success{
  margin: 2em auto;
  background-color: darkseagreen;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
}
.new-task{
  position: relative;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, sans-serif;
  z-index: 1;
  background: #FFFFFF;
  max-width: 800px;
  margin: 1em auto ;
  padding: 45px;
  height: auto;
  color: #323e42;
  line-height: 17.25px;
  font-size: 15px;
  text-align: start;
  letter-spacing: normal;
  border-radius: 4.6875px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 1em  auto;
}
.inputForm{
  border: 1px solid;
}
.title-student{
  text-align: center;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;  
  margin-left: 40%;
}
.inputForm::placeholder{
  text-align: center
}
.submit-inp{
  width: 40%;
  margin: auto;
}
.delete-update{
  display: flex;
  justify-content: space-around;
}
.td-delete-update{
  width: 100px;
}
.text-error{
  text-align: center;
  margin: 1em auto;
  color: red;
  margin-top: 5%;
  /* display: none; */
}
.update{
  background-image: url("./img/icon.png");
  background-color: #32C741;
  width: 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}